/*Global styles*/

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 30px;
  text-align: right;
  background: #ffffff;
  color: white;
  font-size: 23px;
  font-weight: bold;
  filter: drop-shadow(10px 4px 4px #373737);
}

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.logo {
  width: 150px;
  float: left;
}

.buttonred {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 0px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #ff5d1c;
  border-radius: 20px 20px 20px 20px;
  outline: none;
  box-shadow: 0px 3px 10px #0000004b;
}

.buttonblue {
  width: 125px;
  height: 20px;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 180px;
  font: normal 17px Gill Sans;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #134196;
  border-radius: 5px 25px 25px 25px;
  outline: none;
  box-shadow: 0px 3px 10px #0000004b;
}

.buttonblue2 {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #3141d4;
  border-radius: 20px 20px 20px 20px;
  outline: none;
  box-shadow: 0px 3px 10px #0000004b;
}

body {
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  color: #373837;
}

li {
  display: inline-block;
}

nav li {
  display: inline-block;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a {
  color: #373837;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  color: #ff5d1c;
}

nav ul {
  padding: 0px;
}

.active {
  color: #ff5d1c;
}

.overlay {
  text-decoration: none;
  color: #373837;
}

.overlay:hover {
  color: #ffa987;
}

.featured {
  background-color: white;
}

.newtit {
  background-color: white;
}

.pres {
  background: transparent url("../images/movie-clapper.jpg") 0% 0% no-repeat
    padding-box;
  max-width: 100%;
  height: 500px;
  padding-top: 80px;
  padding-left: 700px;
  margin-bottom: 0px;
}

.white {
  color: white;
}

#header {
  font-size: 48px;
  font-weight: italic;
  margin-top: 0px;
  margin-bottom: 15px;
}

#paragraph {
  font-size: 18px;
  font-weight: normal;
  line-height: 23px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.narrow-col {
  width: 330px;
}

.footer {
  width: 100%;
  padding: 30px;
  text-align: center;
  margin: 0px;
  background: #ffffff;
  color: white;
  font-size: 16px;
  font-weight: lighter;
  filter: drop-shadow(10px 4px 4px #373737);
}

/* movie page */

#movies {
  background-color: #373837;
  color: #ffffff;
}

/* Create account */

#createprod {
  background-image: linear-gradient(#7b8576, #3141d4);
}

#createview {
  background-image: linear-gradient(#ffa987, #ff5d1c);
}

.white-box {
  background-color: white;
  padding: 40px;
  text-align: center;
  filter: drop-shadow(10px 4px 4px #373737);
}
