/*Global styles*/

.content-wrap {
  max-width: 100%;
  height: 50px;
  margin: 0 auto;
  padding: 10px;
  text-align: right;
  background: #ffffff;
  color: white;
  font-size: 23px;
  font-weight: bold;
  filter: drop-shadow(4px 3px 5px #373737);
}

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

.logo {
  width: 120px;
  margin-top: 0px;
  margin-left: 40px;
  float: left;
}

body {
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  color: #373837;
}

li {
  display: inline-block;
}

nav li {
  display: inline-block;
  padding-right: 50px;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a {
  font-size: 14.5px;
  color: #373837;
  text-decoration: none;
  padding: 5px;
}

.headmen {
  margin-right: 20px;
}

nav a:hover {
  color: #ff5d1c;
}

nav ul {
  padding: 0px;
  margin-top: 0px;
}

.active {
  color: #ff5d1c;
}

.overlay {
  text-decoration: none;
  margin-top: -20px;
  color: #373837;
}

.overlay-movie {
  text-decoration: none;
  color: white;
}

.overlay:hover {
  color: #ffa987;
}

.overlay-movie:hover {
  color: #ffa987;
}

/* Buttons */

.buttonred {
  width: 125px;
  height: 20px;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 5px;
  margin-right: 40px;
  margin-left: 70px;
  font: normal 17px Gill Sans;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #ff5d1c;
  border-radius: 25px 25px 25px 5px;
  outline: none;
  box-shadow: 0px 3px 10px #0000004b;
}

.buttonred:hover {
  width: 125px;
  height: 20px;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 5px;
  margin-right: 40px;
  margin-left: 70px;
  font: normal 17px Gill Sans;
  text-align: center;
  text-decoration: none;
  color: #ff5d1c;
  background-color: #ffffff;
  border-radius: 25px 25px 25px 5px;
  outline: solid 4px #ff5d1c;
  box-shadow: 0px 3px 10px #0000004b;
}

.buttonblue {
  width: 125px;
  height: 20px;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 180px;
  font: normal 17px Gill Sans;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #134196;
  border-radius: 5px 25px 25px 25px;
  outline: none;
  box-shadow: 0px 3px 10px #0000004b;
}

.buttonblue:hover {
  width: 125px;
  height: 20px;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 180px;
  font: normal 17px Gill Sans;
  text-align: center;
  text-decoration: none;
  color: #134196;
  background-color: #ffffff;
  border-radius: 5px 25px 25px 25px;
  outline: solid 4px #134191;
  box-shadow: 0px 3px 10px #0000004b;
}

.buttonblue2 {
  display: inline-block;
  padding: 10px 20px;
  font: normal 17px Gill Sans;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #3141d4;
  border-radius: 20px 20px 20px 20px;
  outline: none;
  box-shadow: 0px 3px 10px #0000004b;
}

.buttonblue2:hover {
  display: inline-block;
  padding: 10px 20px;
  font: normal 17px Gill Sans;
  text-align: center;
  text-decoration: none;
  color: #3141d4;
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
  outline: solid 4px #3141d4;
  box-shadow: 0px 3px 10px #0000004b;
}

/* Forms */

fieldset {
  border: none;
}

input[type="email"],
input[type="password"] {
  width: 350px;
  height: 35px;
  background-color: #ffa987;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

input[type="submit"] {
  display: inline-block;
  padding: 10px 20px;
  font: normal 17px Gill Sans;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #ff5d1c;
  border-radius: 20px 20px 20px 20px;
  border: none;
  box-shadow: 0px 3px 10px #0000004b;
}

input[type="checkbox"] {
  display: block;
}

legend {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.1rem;
  margin-bottom: 3px;
}

/* .featured {
  background-color: white;
  max-width: 100%;
  height: 700px;
  padding: 0px;
  display: inline-block;
}

.featured-image {
  object-fit: cover;
} */

/* .featured-image-movie {
  object-fit: cover;
} */

/* Container Featured Home page */

.container {
  background-image: url("../images/of-the-forest-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 635px;
  position: relative;
  text-align: left;
  color: white;
}

.feat {
  position: absolute;
  bottom: 154px;
  left: 20px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.title {
  position: absolute;
  bottom: 93px;
  left: 20px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.creator {
  position: absolute;
  bottom: 60px;
  left: 20px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

/* Container Featured movie page */

.container-movie {
  background-image: url("../images/of-the-forest-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 270px;
  position: relative;
  text-align: left;
  color: white;
}

.feat-movie {
  position: absolute;
  bottom: 114px;
  left: 20px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.title-movie {
  position: absolute;
  bottom: 53px;
  left: 20px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.creator-movie {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

#featured {
  font-size: 24px;
  color: white;
}

/* Global featured links */

#featured:hover {
  color: #ffa987;
}

#title {
  font-size: 70px;
  color: white;
}

#title:hover {
  color: #ffa987;
}

#creator {
  font-size: 18px;
  color: white;
}

#creator:hover {
  color: #ffa987;
}

.container-s {
  position: relative;
  text-align: left;
  color: white;
}

.title-s {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.creator-s {
  position: absolute;
  bottom: 5px;
  left: 5x;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

#title-s {
  font-size: 18px;
  color: white;
}

#creator-s {
  font-size: 18px;
  color: white;
}

/* film boxes */

.film {
  display: inline-block;
  font-size: 11px;
  align-content: center;
  padding-left: 20px;
}

h1,
.film {
  font-size: 20px;
}

h2,
.film {
  font-size: 18px;
  margin-bottom: 0px;
}

h3,
.film {
  font-size: 13px;
  margin-top: 2px;
}

/* New titles section */
.news {
  background-color: white;
  box-shadow: 0px 3px 10px #0000004b;
  margin: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}
.newtit {
  background-color: white;
  width: 1300px;
  padding: 20px;
  margin: auto;
}

#news {
  margin-left: 20px;
  margin-bottom: 7px;
}

.rounded {
  border-radius: 5px;
}

/* New titles section movie page */

.film-movies {
  display: inline-block;
  font-size: 11px;
  align-content: center;
  padding-left: 20px;
}

.newtit-movies {
  background-color: #373837;
  width: 100%;
  padding: 20px;
  margin: auto;
}

/* Categories in movie page */

.categories {
  padding-left: 30px;
}

.cat {
  margin-bottom: 7px;
}

.cat-movie {
  display: inline-block;
  width: 250px;
  height: 150px;
  background-image: linear-gradient(-130deg, #7b8576, #000000);
  background-repeat: no-repeat;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 25px;
}

#round-one {
  border-radius: 5px 0px 0px 5px;
}

#round-two {
  border-radius: 0px 5px 5px 0px;
}

/* Presenting Square Eyes at the bottom */

.pres {
  background: transparent url("../images/movie-clapper.jpg") 0% 0% no-repeat
    padding-box;
  max-width: 100%;
  height: 600px;
  padding-top: 80px;
  padding-bottom: 0px;
  padding-left: 700px;
  margin: 0px;
}

/* White text in presentation section */

.white {
  color: white;
}

#header {
  font-size: 48px;
  font-weight: italic;
  margin-top: 0px;
  margin-bottom: 15px;
}

#paragraph {
  font-size: 18px;
  font-weight: normal;
  line-height: 23px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.narrow-col {
  width: 330px;
}

/* movie page */

#movies {
  background-color: #373837;
  color: #ffffff;
}

/* Search */

input[type="text"] {
  border: none;
  width: 450px;
  height: 45px;
  border-radius: 5px;
  background-color: #ffa987;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Create account */

#back {
  text-decoration: none;

  color: white;
  font-weight: bold;
}

#back:hover {
  text-decoration: none;
  color: #373837;
  font-weight: bold;
}

#createprod {
  background-image: linear-gradient(#7b8576, #3141d4);
}

#createview {
  background-image: linear-gradient(#ffa987, #ff5d1c);
}

#viewer-icon {
  background-image: url("/images/icon-viewer-pink.png");
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  margin: auto;
}

.white-box {
  background-color: white;
  max-width: 700px;
  height: 680px;
  filter: drop-shadow(0px 3px 10px #373737);
  margin: auto;
  margin-top: 40px;
  border-radius: 10px 50px 50px 50px;
}

.form {
  padding: 60px;
}

#create {
  margin-left: 270px;
}

/* Producer profile */

.profile-one {
  /* min-height: 100vh; */
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: 2fr 1.5fr 1.5fr 1.5fr;
  grid-template-rows: 3fr 2fr 1.5fr 1.5 3fr;
  /* grid-template-areas:
    ".prod-profile .prod-mymovies .prod-mylibrary .prod-discussion"
    ".prod-profile .prod-mymovies. prod-likedmovies .prod-discussion"
    ".prod-profile .settings .settings .prod-discussion"; */
  /* grid-template-areas:
    ".prod-profile"
    ".prod-mymovies .settings"
    ".prod-mylibrary .prod-likedmovies .settings"
    ".discussion .discussion .discussion .discussion"; */
}

.prod-profile {
  margin-top: 60px;
  padding: 100px;
  grid-column: 1/2;
  grid-row: 1/4;
  border-radius: 50px 50px 10px 50px !important;
}

.prod-mymovies {
  margin-top: 180px;
  padding: 30px;
  grid-column: 2/3;
  grid-row: 1/3;
}

.prod-mylibrary {
  margin-top: 180px;
  padding: 30px;
  grid-column: 3/4;
  grid-row: 1/2;
}

.prod-likedmovies {
  padding: 30px;
  grid-column: 3/4;
  grid-row: 2/3;
}

.prod-discussion {
  margin-top: 180px;
  padding: 30px;
  grid-column: 4/5;
  grid-row: 1/4;
}

.settings {
  display: grid;
  padding: 50px;
  grid-column: 2/4;
  grid-template-columns: 1fr 1fr 1fr;
}

.settings > h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
  font-size: 1rem;
}

.prod-profile,
.prod-mymovies,
.prod-mylibrary,
.prod-likedmovies,
.prod-discussion,
.settings {
  background: #ffffff;
  border-radius: 10px 10px 10px 10px;
  filter: drop-shadow(0px 3px 10px #373737);
}

.prod-back {
  background-image: url("/images/Producerprofile-background.jpg");
  background-repeat: no-repeat;
  width: 100%;
}

#blue {
  color: #3141d4;
}

.dashlink {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 2;
  color: #373837;
  margin: 10px;
}

.dashlink:hover {
  color: #3141d4;
}

.pic {
  border-radius: 100px;
}

/*.prod-profile {
  grid-area: prod-profile;
}
.prod-mymovies {
  grid-area: prod-mymovies;
}
.prod-mylibrary {
  grid-area: prod-mylibrary;
}
.prod-likedmovies {
  grid-area: prod-likedmovies;
}
.prod-discussion {
  grid-area: prod-discussion;
}
.prod-settings {
  grid-area: prod-discussion;
} */

/* Footer */

footer {
  display: inline-block;
  max-width: 100%;
  height: 100px;
  padding: 0px;
  margin: 0px;
  background: #ffffff;
  color: white;
  font-size: 16px;
  font-weight: lighter;
}

.footer-link {
  display: block;
  text-align: left;
  padding-bottom: 10px;
}

.footer-group {
  display: inline-block;
}

.icon-link {
  display: inline-block;
}

footer {
  margin-left: 190px;
}
