.header {
  width: 100%;
  padding: 30px;
  text-align: right;
  margin: 0px;
  background: #ffffff;
  color: white;
  font-size: 23px;
  font-weight: bold;
  filter: drop-shadow(10px 4px 4px #373737);
}

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.buttonred {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #ff5d1c;
  border-radius: 20px 20px 20px 20px;
  outline: none;
  filter: drop-shadow(3px 2px 2px #373737);
}

.buttonblue {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #3141d4;
  border-radius: 5px 20px 20px 20px;
  outline: none;
  filter: drop-shadow(3px 2px 2px #373737);
}

body {
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  color: #373837;
}

li {
  display: inline-block;
}

nav li {
  display: inline-block;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a {
  color: #373837;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  color: #ff5d1c;
}

nav ul {
  padding: 0px;
}

.active {
  color: #ff5d1c;
}

.overlay {
  text-decoration: none;
  color: #373837;
}

.overlay:hover {
  color: #ffa987;
}

#movies {
  background-color: #373837;
  color: #ffffff;
}

#createprod {
  background-image: linear-gradient(#3141d4, #7b8576);
}

.footer {
  width: 100%;
  padding: 30px;
  text-align: center;
  margin: 0px;
  background: #ffffff;
  color: white;
  font-size: 16px;
  font-weight: lighter;
  filter: drop-shadow(10px 4px 4px #373737);
}
